nav ul li {
   list-style-type: none;
   margin-bottom: 10px;
}

nav ul {
   padding: 0px;
}

nav ul li .card {
   max-width: 300px;
   margin: 0 auto;
}

.header {
   height: 70px;
   text-align: center;
   padding-top: 15px;
   border-bottom:1px solid #e5e5e5;
}

.sidebar {
   height:auto;
   overflow: auto;
}

.main {
   text-align: center;
}

.card-title {
   margin-bottom: 0px;
}

.content {
   padding-top: 10px;
}