body {
   font-family: 'Lato', sans-serif;
   font-weight: 300;
}

nav ul li {
   list-style-type: none;
   margin-bottom: 10px;
}

nav ul {
   padding: 0px;
}

nav ul li .card {
   max-width: 250px;
   margin: 0 auto;
}

.header {
   height: 70px;
   text-align: center;
   padding-top: 15px;
   border-bottom:1px solid #e5e5e5;
}

.sidebar, .main {
   height:auto;
   overflow: auto;
}

.sidebar {
   background-color: #fafafa;
   padding-top: 30px;
}

.main {
   text-align: center;
   padding: 0px 200px;
   padding-top: 30px;
}

.card-title {
   margin-bottom: 0px;
}

.tabs {
   margin-bottom: 20px;
}

article {
   text-align: left;
   font-weight: 300;
}

.hero {
   margin-bottom: 20px;
}

.facilities {
   margin-bottom: 20px;
}

.facilities button{
   !border-radius: 20px;
}

button {
   outline: none;

}

.top-form button, .top-form input {
   border-radius: 20px;
}